/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
}

/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.button{
    border: 1px solid ;
    padding: 8px;
}
.button.blue{
    background-color: #4261FF;
    color: white;
}

/*

DEBUG

*/
header{
    color: gray;
}
/* HEADER  */


.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
}

.header-top div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-top div ul li{
    padding: 10px;
}

#H1{
    font-size: 5em;
    color: black;
    padding-bottom: 50px;
}

.header-bottom{
    background-color: #B4D0E7;
    padding-top: 100px;
}
.header-bottom-text{
    width: 30%;
}
.header-bottom-text ul{
    list-style-type: none;
}

.header-bottom-text ul li{
    padding-bottom: 40px;
}

.fa-solid.fa-arrow-down.black{
    color: black;
    font-size: 30px;
    padding-top: 50px;
}


.header-bottom-img{
    width: 70%;
}


.header-bottom-text, .header-bottom-img{
    height: 400px;
}
.header-bottom-flex{
    display: flex;
}

/*

MAIN

*/

.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    min-height: 200px;
    border: 1px dashed black;
    width: 30%;
    background-color: lightcoral;
}

.card.horizontal{
    width: 100%;
    margin-top: 50px;
}

.first-section{
   padding-top: 150px;
}

.user-destination{
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
}

h2{
    font-size: 2em;
}

#radio-input{
    padding-top: 50px;
    padding-bottom: 50px;
}



/* Second section  */

.box-flex{
    display: flex;
    min-height: 400px;
    margin-top: 50px;
}

.box-img{
    width: 60%;
    border: 1px dashed black;
    background-color: lightcoral;
}
.box-text{
    width: 40%;
    border: 1px dashed black;
    background-color: aqua;
}

.third-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

}

.title-third-section{
    width: 100%;
    text-align: center;
}
.box-third-section{
    border: 1px dashed black;
    min-height: 300px;
    width: calc((100% / 3) - 50px);
    margin: 25px;
    background-color: lightcoral;
}

.fourth-section{
    margin-top: 100px;
    margin-left:  25px;
    margin-right: 25px;
    border: 1px dashed black;
}

.fifth-section{
    width: 100%;
    border: 1px dashed black;
    height: calc(100vw / 3);
    display: flex;
    margin-top: 50px;
}

.medium-box{
    width: calc(100% / 3);
    border: 1px dashed black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.small-box{
    width: 50%;
    border: 1px dashed black;
    height: 50%;
}
.central-box{
    width: 100%;
}
.sixth-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    min-height: 400px;
    background-color: aqua;
}

.seventh-section{
    margin-top: 50px;
}






