/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
}

/*
GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.button{
    padding: 8px;
    text-decoration: none;
    color: inherit;
}
.button.blue{
    background-color: #4261FF;
    color: white;
}



section{
    margin-bottom: 100px;
}
/* HEADER  */


.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
}

.header-top div ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-top div ul li{
    padding: 10px;
}

#H1{
    font-size: 4em;
    color: black;
    margin-bottom: 50px;
}

.header-bottom{
    background-color: #B4D0E7;
    padding-top: 100px;
    padding-bottom: 50px;
}
.header-bottom-text{
    width: 30%;
}
.header-bottom-text ul{
    list-style-type: none;
}

.header-bottom-text ul li{
    padding-bottom: 40px;
}

.fa-solid.fa-arrow-down.black{
    color: black;
    padding-top: 30px;
}

.header-bottom-img{
    width: 70%;
}

.header-bottom-flex{
    display: flex;
    margin-bottom: -100px;
}

/*

MAIN

*/

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-header{
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px;
}
.card{
    border: 1px solid gray;
    width: 30%;
}



.tarif > *, .features > *, .trial > *, .recap > *, .box-30 > *, .slide > *, .central-box > *{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.tarif, .features, .recap{
    padding-bottom: 30px;
}

.small-hr{
    width: 30%;
}


.fa-solid.fa-check{
    color: #4261FF;
}

.card.horizontal{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card-header.horizontal{
    width: 100%;
}

.box-70{
    width: 70%;
    padding-left: 20px;
    padding-top: 20px;

}
.box-30{
    width: 30%;
    position: relative;
}

.box-30 div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button.blue.box30{
    position: absolute;
    top: 16px;
    left: 30px;
}

.card-container div h2{
    width: 100%;
}
h2{
    font-size: 2em;
}

#radio-input{
    padding-top: 50px;
    padding-bottom: 50px;
}

#radio-input > *{
    display: inline-block;
    margin-right: 20px;
}


/*
    section
*/


.sub-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slide{
    width: 33%;
}


/* Second section  */

.box-flex{
    display: flex;
    min-height: 300px;
}

.discover-more > *{
    margin-bottom: 50px;
}


.fifth-section{
    width: 100%;
    height: calc(100vw / 3);
    display: flex;
    margin-top: 50px;
}

.medium-box{
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.small-box{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-box div{
    width: 50%;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.small-box.uno{
    background-color:#A2D39B ;
}
.small-box.due{
    background-color: #60082A;
}
.small-box.tre{
    background-color:#4593CE;
}
.small-box.quattro{
    background-color: #ED1C1D;
}
.small-box.cinque{
    background-color: #D5001F;
}
.small-box.sei{
    background-color:#B4D0E7 ;
}
.small-box.sette{
    background:#1B2482;
}
.small-box.otto{
    background-color: #F6D830 ;
}
.central-box{
    width: 100%;
    background-color:#F5F5F5 ;
}

#design-black-logo{
    width: 50%;
}

.central-box div hr{
    width: 20%;
}


.sixth-section{
    display: flex;
    background-color: #B4D0E7;
    margin-top: -100px;
}

.box-70.red{
    color: #5C0000;
}
.button.white{
    color: grey;
    background-color: white;
    border: none;
}

.box-flex.lightblue{
    align-items: center;
}

.faq div{
    margin-bottom: 20px;
}
.faq-section{
    display: flex;
    justify-content: space-between;
}

/* 
    FOOTER
*/
footer{
    background-color: black;
    min-height: 300px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    color: white;

}

#footer-list{
    list-style-type: none;
}

#footer-list li h3{
    padding-bottom: 15px;
}
#footer-list li{
    margin: 10px;
}

.HR-footer{
    width: 10%;
    margin-bottom: 20px;
}

#language{
    color: white;
    padding-bottom: 50px;
}

.footer-bottom{
    margin-bottom: -100px;
}




